<div class="card-body">
    <div class="h2">
        {{ user_profile.first_name }} {{ user_profile.last_name }}
    </div>
    <div class="h2 text-muted">
        @{{ user_profile.username }}
    </div>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="h6 text-muted">
            Подписчиков: {{ user_profile.follower.count }} <br />
            Подписан: {{ user_profile.following.count }}
        </div>
    </li>
    <li class="list-group-item">
        <div class="h6 text-muted">
            {{ user_profile.posts.count }}
        </div>
    </li>
    <li class="list-group-item">
        {% if user != user_profile %}
            {% if following %}
            <a class="btn btn-lg btn-light" 
                    href="{% url 'profile_unfollow' user_profile.username %}" role="button"> 
                    Отписаться 
            </a> 
            {% else %}
            <a class="btn btn-lg btn-primary" 
                    href="{% url 'profile_follow' user_profile.username %}" role="button">
                    Подписаться 
            </a>
            {% endif %}
        {% endif %}
    </li>
</ul>